* {
  padding:  0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerApp {
  color: black;
  display: flex;
  width: 780px; 
  height: 780px;
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
}
